
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>mvc tablo örneği</h3>
<br />
<table class="table table-light">
    <tr>
        <th>Id</th>
        <th>adı</th>
        <th>açıklama</th>
        <th>durum</th>
        <th>günceller</th>
    </tr>
    <tr>
        <td>1</td>
        <td>be</td>
        <td>adsadas</td>
        <td>true</td>
        <td><button class="btn btn-success ">güncelle</button></td>
    </tr>
    <tr>
        <td>1</td>
        <td>be</td>
        <td>adsadas</td>
        <td>true</td>
        <td><button class="btn btn-success ">güncelle</button></td>
    </tr>
    <tr>
        <td>1</td>
        <td>be</td>
        <td>adsadas</td>
        <td>true</td>
        <td><button class="btn btn-success ">güncelle</button></td>
    </tr>
</table>
<button class="btn btn-danger">yeni kategori</button>
<button class="btn btn-danger"> kategori listesi</button>
<button class="btn btn-danger"> kategori açıklamalrı</button>
